/* Text Inside Draggable */
#result {
    font-family: Helvetica;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}
/* Draggable */
.grid {
    display: grid;
    grid-template: 150px 150px 150px 150px 150px / 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 10px;
    background-color: white;
    padding: 10px;
}
.draggable {
    background-color: salmon;
    box-shadow: 10px 10px 10px #7777;
}

.draggable, .droppable.draggable-dropzone--occupied{
    width: 70px; 
    height: 70px; 
}
.droppable{
    width: 70px; 
    height: 70px;
    border: solid;
    display: flex;
}